/*Site style stuff*/

@font-face {
    font-family: 'more_perfect_dos_vgaregular';
    src: url('font/moreperfectdosvga-webfont.woff2') format('woff2'),
         url('font/moreperfectdosvga-webfont.woff') format('woff'),
         url('font/MorePerfectDOSVGA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(15,15,15);
}

p1 {
    color: rgb(195, 196, 199);
    text-shadow : 0.25px 0.25px 20px rgb(255,255,255);
    font-family: 'more_perfect_dos_vgaregular';
    font-weight: normal;
    font-style: normal;
}